node_modules/
                                      .env
                                      auth/
                                      auth/*
                                      ./auth/
                                      
/build/
app/build/
*.apk
*.aab
*.onnx