<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingApplicationIcon">

    <!-- App-wide permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />  <!-- Add this line -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wami"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wami"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Launch screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main message list -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- One-on-one chat -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="Chat" />
    </application>
</manifest>
